//Variáveis
//Cores

$verde-primario: #3c8067;
$verde-secundario:#1b4133;
$preto: #1c232b;
$cinza: #6c7289;
$cream: #f2ebe3;
$branco: #ffffff;

//fonts
$ft-montserrat: 'Montserrat', sans-serif;
$ft-fraunces: 'Fraunces', serif;